.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/showrun/CopilotIndices/17.12.31.40377/CodeChunks.db
.vs/showrun/CopilotIndices/17.12.31.40377/SemanticSymbols.db
.vs/showrun/CopilotIndices/17.12.31.40377/SemanticSymbols.db-shm
.vs/showrun/CopilotIndices/17.12.31.40377/SemanticSymbols.db-wal
.vs/showrun/FileContentIndex/14a15cb0-624c-4e18-b848-f6dee92db877.vsidx
.vs/showrun/copilot-chat/384c5579/sessions/f63dc655-544b-49ed-ae03-7ed44cc99061
.vs/showrun/v17/.wsuo
.vs/showrun/v17/DocumentLayout.backup.json
.vs/showrun/v17/DocumentLayout.json
